
body{
	margin: 0;
	padding: 0;
	background: #fff;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.form-control{

    width: 300px;
}

.view{
    padding: 20px;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.4);
    width: 350px;
    margin-left: 100px;
}

.contactOutput{
    
  
}

#outputAvatar{
    border-bottom: 1px solid #2980b9;
    padding: 3px;
    margin-bottom: 5px;
}
#avatar{

    border-radius: 100px;
    margin-left: 100px;
}

#avatarDiv{
    border-bottom: 1px solid #83F52C;
    padding-bottom: 5px;
    width: 300px;
}

#regUser{
    padding: 10px;
    color: #3498db;
    border-bottom: 1px solid #fff;
}

#output{

    position: absolute;
	top: 20px;
	overflow: scroll;
	width: 600px;
	height: 550px;
	z-index: 2;
    margin-left: 500px;
    border: 0px solid #fff;
    font-size: 18px;
    padding: 10px;
    margin-top: -35px;
    /*background: rgba(0,0,0,0.4);*/
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(covUni.png);
    -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
    
	
}



.header{
	position: absolute;
	top: 10px;
    margin-left: 200px;
	z-index: 2;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 50px;
	font-weight: bolder;
}

.header div span{
	color:  #056fcd !important;
}

.login{
	position: absolute;
	top: 130px;
	margin-top: 20px;
	width: 350px;
	padding: 10px;
	z-index: 2;
    margin-left: 200px;
}

.login input[type=email]{
	width: 300px;
	height: 50px;
	/*background: transparent;*/
    background: rgba(0,0,0,0.2);
	border: 0px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 20px;
    margin-top: 10px;
}



.login input[type=text]{
	width: 300px;
	height: 50px;
	/*background: transparent;*/
    background: rgba(0,0,0,0.2);
	border: 0px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 20px;
    margin-top: 10px;
}


.login input[type=password]{
	width: 300px;
	height: 50px;
	/*background: transparent;*/
    background: rgba(0,0,0,0.2);
	border: 0px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 20px;
    margin-top: 10px;
}

.login input[type=button]{
	width: 300px;
	height: 45px;
	/*background: #fff;*/
	border: 0px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
    border: 0px;
    background: rgba(0,0,0,0.4);
}

.login input[type=button]:hover{
   /* margin-top: 3px;*/
   


}




::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}